

@{
    ViewBag.Title = "EditCategoryBrands";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-5">Chỉnh sửa phân loại</h2>

<form action="@Url.Action("EditCategoryBrand", "CategoryBrands", new {area = "Admin"})" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="categorybrand_id" value="@Model.categorybrand_id" />
    <div class="row mt-5">
        <div class="col-md-6 mb-2">
            <label for="category_id">Danh mục</label>
            <select class="form-control" id="category_id" name="category_id">
                @foreach (var category in ViewBag.Categories)
                {
                    <option value="@category.category_id" @(category.category_id == Model.category_id ? "selected" : "")>
                        @category.category_name
                    </option>
                }
            </select>
        </div>
        <div class="col-md-6 mb-2">
            <label for="brand_id">Thương hiệu</label>
            <select class="form-control" id="brand_id" name="brand_id">
                @foreach (var brand in ViewBag.Brands)
                {
                    <option value="@brand.brand_id" @(brand.brand_id == Model.brand_id ? "selected" : "")>
                        @brand.brand_name
                    </option>
                }
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-success my-2">Lưu</button>
    <a href="@Url.Action("Index", "CategoryBrands", new {area = "Admin"})" class="btn btn-dark">Hủy</a>
</form>
