@model DEMO.Models.User

@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h2 class="text-center py-4">ĐĂNG KÝ TÀI KHOẢN</h2>
            </div>
            <div class="panel-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group py-3">

                    @Html.TextBoxFor(Temp => Temp.user_name, new { placeHolder = "Tên tài khoản", @class = "form-control" })
                    @Html.ValidationMessageFor(Temp => Temp.user_name)
                </div>
                <div class="form-group py-3">

                    @Html.TextBoxFor(Temp => Temp.fullname, new { placeHolder = "Họ và tên", @class = "form-control", Type = "form-control" })
                    @Html.ValidationMessageFor(Temp => Temp.fullname)
                </div>

                <div class="form-group">

                    @Html.TextBoxFor(Temp => Temp.email, new { placeHolder = "Tài khoản Email", @class = "form-control" })
                    @Html.ValidationMessageFor(Temp => Temp.email)
                </div>

                <div class="form-group py-3">

                    @Html.PasswordFor(Temp => Temp.password, new { placeHolder = "Mật khẩu", @class = "form-control" })
                    @Html.ValidationMessageFor(Temp => Temp.password)
                </div>

                <div class="form-group py-3">

                    @Html.PasswordFor(Temp => Temp.password_comfirm, new { placeHolder = "Xác minh mật khẩu", @class = "form-control" })
                    @Html.ValidationMessageFor(Temp => Temp.password_comfirm)
                </div>

                <div class="form-group py-3">

                    @Html.TextBoxFor(Temp => Temp.phone, new { placeHolder = "Số điện thoại", @class = "form-control" })
                    @Html.ValidationMessageFor(Temp => Temp.phone)
                </div>
                <div class="form-group py-3">

                    @Html.TextBoxFor(Temp => Temp.address, new { placeHolder = "Địa chỉ", @class = "form-control" })
                    @Html.ValidationMessageFor(Temp => Temp.address)
                </div>
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </div>
    </div>
    <div class="form-group py-3 text-center">
        @Html.ActionLink("Đã có tài khoản", "Login", null, new { @class = "mylink text-primary" })
    </div>
}


