@model DEMO.Models.Order

@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-5">Chi tiết đơn hàng</h2>

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">Mã đơn hàng:</dt>
            <dd class="col-sm-8">@Model.order_id</dd>

            <dt class="col-sm-4">Tên khách hàng:</dt>
            <dd class="col-sm-8">@Model.User.fullname</dd>

            <dt class="col-sm-4">Tổng giá trị đơn hàng:</dt>
            <dd class="col-sm-8">@Model.total_price.ToString("N0")</dd>

            <dt class="col-sm-4">Ngày đặt hàng:</dt>
            <dd class="col-sm-8">@Model.order_date</dd>

            <dt class="col-sm-4">Trạng thái đơn hàng:</dt>
            <dd class="col-sm-8">@Model.order_status</dd>

            <dt class="col-sm-4">Địa chỉ giao hàng:</dt>
            <dd class="col-sm-8">@Model.shipping_address</dd>
        </dl>
    </div>
</div>

<h3 class="mt-5">Chi tiết sản phẩm</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Số lượng</th>
        <th>Tổng giá</th>
    </tr>

    @foreach (var item in Model.OrderDetails)
    {
        <tr>
            <td>@item.product_id</td>
            <td>@item.Product.product_name</td>
            <td>@item.Product.product_price</td>
            <td>@item.detail_quantity</td>
            <td>@item.unit_price</td>
        </tr>
    }
</table>

<h4 class="mt-5">Tổng tiền: @Model.total_price.ToString("N0")</h4>

<a href="@Url.Action("Index", "Orders")" class="btn btn-dark">Quay lại</a>
